html {
    box-sizing: border-box;
}

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: inherit;
}

body {
    color-scheme: light dark;
    background-color: Canvas;
    color: CanvasText;

    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
    margin: 0;
    padding: 0;

    /* The code below allows me to put the footer at the bottom */
    min-height: 100vh;
}

h1,
h2 {
    margin: 10px auto;
}

.calculator {
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    /* background-color: rgb(50, 174, 98); */

    width: 500px;
    height: 400px;
}

.display {
    /* background-color: green; */

    width: inherit;
    height: 20%;

    font-size: xx-large;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.operators,
.equalAndClear,
.digits {
    padding: 0% 25%;
    margin: 20px 0px;
}

.digits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    font-size: x-large;
    background-color: rgb(0, 136, 255);
    border: none;
    font-weight: bolder;
}

button:hover {
    filter: brightness(60%);
}

.smallButton {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.clear {
    padding: 10px 20px;
    border-radius: 20px;
}