html {
    box-sizing: border-box;
}

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    box-sizing: inherit;
}

body {
    color-scheme: light dark;
    background-color: Canvas;
    color: CanvasText;

    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;
    margin: 0;
    padding: 0;

    /* The code below allows me to put the footer at the bottom */
    min-height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    background-color: rgb(50, 174, 98);

    width: 500px;
    height: 400px;
}

.display {
    background-color: rgb(183, 47, 47);

    width: inherit;
    height: 20%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 50%;
}